$slide-width = 640px
$slide-height = 360px
$color-surface = #111
$color-canvas = #fff
$color-text = #222
$color-inverse = #fff
$sym-dblquote-left = "\201c"
$sym-dblquote-right = "\201d"
$sym-dash-em = "\2014"
$sym-nbsp = "\00a0"
