@import "./variables"
@import "./fonts.css"
@import "normalizecss/normalize.css"

*, ::before, ::after { box-sizing: inherit }

html
  box-sizing border-box
  //font-size 16px // normalize the base font size (at least during testing)
  // NOTE quotes only work when lang is set on html element
  quotes $sym-dblquote-left $sym-dblquote-right

span.underline
  border-bottom 1px solid #ddd

aside[role=note] { display: none }
figure { margin: 0 }
img { vertical-align: middle }
p { margin: 0 0 1em 0 }

.deck
  font-family 'Roboto Condensed', sans-serif
  color $color-text
  font-feature-settings "kern" 1
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  // hide deck and slide content until Bespoke.js classes have been added
  &:not(.bespoke-parent), section:not(.bespoke-slide)
    display none

.bespoke-parent, .bespoke-scale-parent, .bespoke-backdrop
  position absolute
  top 0
  right 0
  bottom 0
  left 0

.bespoke-parent
  overflow hidden // QUESTION why not on .deck?
  background-color $color-surface // QUESTION should we add to body as well?
  & > :not(.bespoke-slide)
    pointer-events none

.bespoke-slide
  //overflow hidden
  opacity 0
  position absolute
  top 50%
  left 50%
  width $slide-width
  margin-left -(@width / 2)
  height $slide-height
  margin-top -(@height / 2)
  display flex
  flex-direction column
  justify-content center
  align-items center
  // NOTE currently used for transitioning between slides _and_ out of overview
  transition transform 0.3s ease
  //transition transform 0.3s ease, opacity 0.3s ease
  &:not([data-bespoke-backdrop])
    background-color $color-canvas
  //transition opacity 0.3s ease

.bespoke-active
  pointer-events auto
  opacity 1
  z-index 1 // Webkit requires z-index to be 1 for elements to receive focus (may no longer apply)

.bespoke-bullet
  transition opacity 0.8s ease
  opacity 0
  pointer-events none
  &-active
    opacity 1
    pointer-events auto

.bespoke-slide.title
  justify-content flex-end
  align-items flex-end
  h1
    font-size 2.5em
    margin 0 10% 10% 0
    text-shadow 0 1px 5px rgba(0,0,0,.15)
    font-weight 700
    color #fff
  // FIXME temporary!
  footer
    display none

.bespoke-slide.speaker
  background-color #008cc2
  color #008cc2
  font-family Vollkorn, sans-serif
  header
    background-color #fff
    position absolute
    top 120px
    left 45%
    width 55%
    height 110px
    padding-left 60px
    display flex
    flex-direction column
    justify-content center
    h2, h3
      font-weight 400
      margin 0
    h2
      //font-size 2.2em
      font-size 35px
      line-height 1.05
      margin-top 0.1em
    h3
      //font-size 1.2em
      font-size 19px
      line-height 1.1
      margin-left 1.65em
  figure.headshot
    position absolute
    //top 55px
    top 50px
    left 75px
    width 250px
    height 250px
    border-radius 250px
    overflow hidden
    box-shadow 0 0 0 5px #fff
    img
      object-fit cover
      width 100%
      height 100%
  .contact
    color rgba(255,255,255,0.95)
    position absolute
    top 215px
    left 330px
    //font-size 1.35em
    font-size 21px
    word-spacing 0.25em
    line-height 1.2
    white-space nowrap
    margin-top 1em

.bespoke-slide.agenda
  background-color #d4ca2e
  background-image url(../images/backdrop-nodes-yellow.png)
  background-size cover

ul
  padding-left 0
  margin-left 1.5ex

  &.agenda
    height 0
    font-family Dosis, sans-serif
    font-weight 600
    display flex
    flex-direction column
    justify-content flex-end
    font-size 1.5em
    border-left 0.15em solid #e5df7c
    margin 0
    // NOTE could also use align-items flex-end on parent
    position absolute
    top 0
    right 0
    padding 0 0.5em 0 0
    & li
      opacity 0
      list-style none
      line-height 1.5
      margin 0
      padding 0.25em 0 0.5em 0
      text-transform uppercase
      color #971730
      vertical-align middle
      &::before
        line-height 1
        content ''
        display inline-block
        background-color #fff
        width 1.5em
        height 1.5em
        border-radius 3em
        margin-right 1ex
        vertical-align middle
        margin-left -0.8325em
        // use this one for Roboto Condensed
        //margin-top -0.075em
        // use this one for Dosis
        margin-top -0.2em

.bespoke-active ul.agenda
  transition height 3s ease 1s
  height 100%
  li.bespoke-bullet-active
    opacity 1
    &:first-of-type
      transition opacity 0.8s ease 4s

.bespoke-slide.topic
  background-image url(../images/topic-slide.svg)
  background-size cover
  transition none
  h2
    font-family Dosis, sans-serif
    color #142642
    font-size 3.4em
    font-weight 600
    text-transform uppercase
    line-height 1
    margin 0
    align-self flex-start
    text-align center
    margin -1em 0 0 45%
    width 55%

.bespoke-slide.subject
  background-color $color-surface

figure.quote
  align-self flex-end
  width 50%
  margin 3.5em 2.5em 0 0
  opacity 0
  blockquote
    font-family 'Roboto Condensed'
    font-size 1.2em
    margin 0
    p
      color white
      font-style italic
      font-size inherit
      line-height 1.6
      text-align center
      &:first-of-type::before
        content open-quote
      &:last-of-type
        //margin-bottom 0
        &::after
          content close-quote
          margin-left -0.08em
  figcaption
    font-size 0.8em
    font-weight lighter
    font-style normal
    color #fff
    text-align center
    text-transform uppercase
    letter-spacing 0.5ex
    &::before
      content $sym-dash-em $sym-nbsp
    &::after
      content $sym-nbsp $sym-dash-em

.bespoke-active
  figure.quote
    transition opacity 0.8s ease-in 0.75s
    opacity 1

.bespoke-slide.image h2, .image-caption
  font-family Dosis, sans-serif
  margin 0
  position absolute
  bottom 0.25em
  right 0
  font-size 3em
  background-color rgba(5,51,68,0.9)
  color $color-inverse
  padding 0 0.25em 0.1em 0.25em
  font-weight 500

.bespoke-backdrop
  //width 100% // NOTE workaround bug in Chrome where 100vw isn't 100% \_o_/
  //z-index -1
  opacity 0
  &-active
    opacity 1

.bespoke-backdrop.martin-fowler
  opacity 0
  background-image url(../images/martin-fowler.jpg)
  background-size cover
  background-position 0 40%
  transform-origin 35% 35%
  transform translateZ(0) scale(1.5)

.bespoke-backdrop-active.martin-fowler
  opacity 0.4
  transform translateZ(0) scale(1.3)
  transition transform 5s ease-in-out, opacity 1s ease

.bespoke-slide.query-result
  padding 0
  background-color #efefef
  justify-content flex-start
  .query
    background-color #19213b
    width 100%
    min-height 70%
    display flex
    flex-direction column
    justify-content flex-end
    align-items center
    padding-bottom 2em
    &:not(.bespoke-bullet-current)
      min-height 35%
      //transition min-height 1s ease 0.5s, padding 1s ease 0.5s
      //transition min-height 1s ease 0.25s, padding 1s ease 0.25s
      transition min-height 1s ease, padding 0.5s ease
      padding-bottom 1.2em
      .label
        opacity 0
        transition opacity 0.5s ease
      pre.source
        //font-size 1.2em
        line-height 1.4
        opacity 0.85
        transition line-height 0.5s ease, opacity 0.5s ease
        overflow hidden
  pre.source
    font-family mplus-1m, monospace
    font-weight 500
    font-size 1.25em
    line-height 1.6
    margin 0
    color rgba(255,255,255,0.95)
    // Flexbox likes to cause scrollbars when we don't need them
    overflow hidden
    code
      font-size inherit
      font-family inherit
    .keyword, .function
      //font-weight 400
      font-weight 700
    .keyword
      color #a0ff7c
    .function
      color #ffffff
  .label, h2
    position absolute
    top 1.5ex
    left 1.5ex
    padding 0.25ex 0.5ex
    border 0px solid rgba(255,255,255,0.25)
    border-width 0 0.2ex
    border-radius 0.75ex
    font-family Dosis
    font-weight 300
    color rgba(255,255,255,.55)
    line-height 1
    font-size 0.9em
  pre.result
    font-family mplus-1m, monospace
    font-size 1.3em
    line-height 1.5
    //line-height 1.4
    //font-size 1.1em
    color #303030
    margin 0
    padding 1em 1em 0 1em
    overflow hidden

figure.cover, figure.contain
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  overflow hidden
  img, object, svg
    width 100%
    height 100%
    object-fit cover

figure.contain
  img, object, svg
    object-fit contain

.bespoke-overview
  .bespoke-slide
    // NOTE currently used for transitioning into overview
    transition transform 0.3s ease-out, opacity 0.8s ease-in-out
  // QUESTION what does this do?
  .bespoke-backdrop-active
    opacity 0
