doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='mobile-web-app-capable', content='yes')
    title Neo4j Slide Types
    link(rel='stylesheet', href='build/build.css')

  body
    article.deck
      section.title(style='background-image: url(images/backdrop-nodes-green.svg); background-size: cover'): .content
        h1 Neo4j Slide Types

      section.speaker: .content
        .name-plate
          h1 Michael Hunger
          h2 Head of Developer Relations
        div.headshot
          img(src='images/michael-hunger.jpg', alt='Michael Hunger', width='400', style='margin-left: -48px')
        p.contact @mesirii | michael@neo4j.org
      section.agenda: .content
        ul.agenda.build-items
          li Databases are no fun
          li Relational pain -&gt; Graph fun
          li The world is a graph
          li Model, query, import
          li Developer zone fun

      section.topic: .content
        h2 [:Modeling]

      section.subject: .content
        img(src='images/spring-data-neo4j.png', style='width: 25%')

      section: .content(style='background-image: url(images/backdrop-mountains.jpg); background-size: cover')
        .image-caption The world is a graph

      section(data-bespoke-backdrop='martin-fowler'): .content
        figure.quote
          blockquote
            p The advantage of not using an aggregate structure in the database is that it allows you to slice and dice your data #[span(class='underline') different ways] for #[span(class='underline') different audiences].
          figcaption — Martin Fowler —

      section.code: .content
        .query.build
          .label Query Title Here
          pre.code(data-language=cypher).
            <span class="keyword">MATCH</span> (h1:Hashtag)-[:TAGS]-&gt;(TWEET)&lt;-[:TAGS]-(h2:Hashtag)
            <span class="keyword">WHERE</span> h1.name = {hashtag}
            <span class="keyword">RETURN</span> h1.name <span class="keyword">AS</span> from, h2.name <span class="keyword">AS</span> to, <span class="function">COUNT(</span>*<span class="function">)</span> <span class="keyword">AS</span> value
        pre.result.build.
          ## id      u.username  mentions
          ##  1   hadleywickham        43
          ##  2        RLangTip         6
          ##  3  nicolemargaret         6
          ##  4        hrbrmstr         6
          ##  5       megcevans         5

    script(src='build/build.js')
